<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="4.0.0-nightly-00531" targetFramework="net471" />
  <package id="DSharpPlus.CommandsNext" version="4.0.0-nightly-00531" targetFramework="net471" />
  <package id="DSharpPlus.Interactivity" version="4.0.0-nightly-00531" targetFramework="net471" />
  <package id="DSharpPlus.VoiceNext" version="4.0.0-nightly-00531" targetFramework="net471" />
  <package id="Emzi0767.Microsoft.DependencyInjection" version="2.0.0" targetFramework="net471" />
  <package id="Emzi0767.Microsoft.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net471" />
  <package id="HSNXT.DSharpPlus.CommandsNext.Extended" version="3.0.176" targetFramework="net471" />
  <package id="HSNXT.DSharpPlus.Extended" version="3.0.176" targetFramework="net471" />
  <package id="HSNXT.DSharpPlus.ModernEmbedBuilder" version="3.0.176" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>